/* Styles for Mobile devices */
body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: var(--primary-font);
  font-size: var();
  font-weight: var();
  line-height: var();
  color: var();

  background-color: var();

  /* Покращення відображення шрифтів */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-top: px;
  padding-bottom: px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: px;
  padding-right: px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var();
  line-height: var();
  margin: 0;
}

h1 {
  font-size: var();
  font-weight: var();
}

h2 {
  margin-bottom: px;
  font-size: var();
  font-weight: var();
  text-align: center;
}

.accent-text {
  font-weight: var();
}

.accent-color {
  color: var();
}

.uppercase-text {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .section {
    padding-top: px;
    padding-bottom: px;
  }

  .container {
    max-width: 720px;
    padding-left: px;
    padding-right: px;
  }
}

@media screen and (min-width: 1200px) {

  .section {
    padding-top: px;
    padding-bottom: px;
  }

  .container {
    max-width: 1158px;
    padding-left: px;
    padding-right: px;
  }
}