:root {
    --clr-brand-primary: ;
    /* Основний*/
    --clr-brand-pressed: ;
    /* для ховерів/активних станів*/
    --clr-brand-light: ;
    /* для кнопок або фону*/

    --clr-txt-main: ;
    /* Основний текст*/
    --clr-txt-title: ;
    /* Заголовки та темні акценти*/
    --clr-txt-light: ;
    /* Білий текст (на темному фоні)*/
    --clr-txt-helper: ;
    /* Другорядний текст, іконки, адреса */

    --clr-bg-main: ;
    /* Основний фон сторінки */
    --clr-bg-alt: ;
    /* Світло-сірий фон для секцій (наприклад, Team) */
    --clr-bg-dark: ;
    /* Темний фон для Hero та Footer */

    --clr-border: ;
    /* Колір рамок та ліній розділювачів (Cornflower) */
    --clr-success: ;
    /* Зелений для форм або успішних дій */

    --hero-gradient: linear-gradient(deg, rgba() 0%, rgba() 50%, rgba() 100%);

    --primary-font: 'Roboto', sans-serif;
    --second-font: 'Playfair Display', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* Базові (мобілка 320px+) */
    --fs-main: 16px;
    --fs-h3: 20px;
    --fs-h2: 28px;
    --fs-hero: 36px;


    --lh-hero: 1.11;
    --lh-heading: 1.2;
    --lh-main: 1.5;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Планшет (768px+) */
@media screen and (min-width: 768px) {
    :root {
        --fs-hero: 44px;
        /* Збільшуємо для планшета */
        --fs-h2: 32px;
    }
}

/* ДЕСКТОП (від 1200px) */
@media screen and (min-width: 1200px) {
    :root {
        --fs-hero: 56px;
        /* Фінальний розмір за макетом */
        --fs-h2: 36px;
    }
}