:root {
    --color-primary: ;
    --color-brand-light:;
    --color-brand-dark: ;
    --color-light: ;
    --color-dark: ;

    --color-input-text:;
    --color-input-border:;

    --hero-gradient: linear-gradient(deg,
            rgba() 0%,
            rgba() 50%,
            rgba() 100%);

  
    --primary-font: 'Roboto', sans-serif;
    --second-font: 'Playfair Display', serif;

   
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --fs-xs: 12px;
    --fs-s: 14px;
    --fs-m: 16px;
    --fs-l: 18px;
    --fs-xl: 20px;
    --fs-xxl: 24px;
    --fs-h2: 32px;
    --fs-h1: 44px;
   
    --lh-h: 1.2;
    --lh-b: 1.3;
    --lh-p: 1.5;

    --anim-fast: 300ms ease-in-out;
    --anim-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- Responsive Font Sizes --- */
@media screen and (min-width: 1240px) {
    :root {
       
    }
}
