.hero-section {
    background-image: var(), url();
    background-color: var();
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: var(), url();
    }
}

.hero-container {
    text-align: center;
    min-height: px;
    padding-top: px;
}

.hero-title {
    margin-bottom: 48px;
    color: var();
    font-family: var();
    font-size: var();
    font-weight: var();
    line-height: var();
}

.accent-color {
    color: var();
}


@media screen and (min-width: 767px) {
    .hero-section {
        background-image: var(), url();
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: var(), url();
        }
    }

    .hero-container {
        min-height: px;
        padding-top: px;
    }

    .hero-title {
        margin-bottom: 0px;
    }
}

    transition: transform var(--anim-fast);
}

.hero-button:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 1240px) {}
