.footer {
    padding: 40px 0;
    background-color: var();
    color: var();
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}


@media (min-width: 768px) {
    .footer {
        font-size: 16px;
    }
}

@media screen and (min-width: 1240px) {}