.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-list {
    display: none;
   }

.logo-icon {
    fill: var();
    transition: fill var(--anim-fast);
}

.logo:hover .logo-icon {
    fill: var();
}

@media screen and (min-width: 767px) {
    .nav-list {
        display: flex;
        gap: 40px;
        margin-left: 80px;
    }

    .nav-link {
        color: var();
        font-family: var();
        font-size: var();
        font-weight: var();
        line-height: var();
        transition: color var(--anim-fast);
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.is-current {
        color: var();
        font-weight: var();
    }

    .burger-menu {
        display: none;
    }
}

@media screen and (min-width: 1240px) {}
