.header {
    padding: px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: px;
    height: 100vh;
    background: var();
    padding: px px;
    transition: var(--transition);
}

.nav.active {
    right: 0;
} */

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .nav {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
    }

    .nav-list {
        flex-direction: row;
    }

    .burger {
        display: none;
    }
}