/* ---------------- Header & General Logo ---------------- */
.logo {
    display: block;
}

.logo-icon {
    width: 72px;
    height: 38px;
    fill: var();
    transition: fill var(--transition);
}

.logo:hover .logo-icon,
.logo:focus .logo-icon {
    fill: var();
}


/* ---------------- Burger Menu icon ---------------- */
.burger-icon {
    width: 24px;
    height: 24px;
    fill: var();
    stroke: var();
    transition: fill var();
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    fill: var();
}

/* ----------------Button Scroll icon ---------------- */

.button-scroll-icon {
    fill: var();
    transition: fill var(--transition), transform var(--transition);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(270deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var();
}

/* ---------------- Button Close icon ---------------- */
.button-close-icon {
    fill: none;
    stroke: var();
    transition: stroke var(--transitiont);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    stroke: var();
}

/* ---------------- Social icon ---------------- */



@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}