/* ---------------- Header & General Logo ---------------- */
.logo {
    display: block;
}

.logo-icon {
    width: 72px;
    height: 38px;
    fill: var();
    transition: fill var(--anim-fast);
}

.logo:hover .logo-icon,
.logo:focus .logo-icon {
    fill: var();
}

@media screen and (min-width: 767px) {
    
}

@media screen and (min-width: 1240px) {
    
}

.burger-icon {
    width: 24px;
    height: 24px;
    fill: var();
    stroke: var();
    transition: fill var();
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    fill: var();
}


.button-scroll-icon {
    fill: var();
    transition: fill var(--anim-fast), transform var(--anim-fast);
}


.button-scroll-up .button-scroll-icon {
    transform: rotate(270deg);

}

.button-scroll-down .button-scroll-icon {
    transform: rotate(90deg);

}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var();
}


.button-close-icon {

    fill: none;
    stroke: var();
    transition: stroke var(--anim-fast);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    stroke: var();
}


.modal-logo {
    display: block;
    margin-bottom: 32px;
}

.modal-logo-icon {
    fill: var();
    /* У модалці зазвичай темне лого */
    transition: fill var(--anim-fast);
}

.modal-logo:hover .modal-logo-icon,
.modal-logo:focus .modal-logo-icon {
    fill: var();
}
