/* ---------------- Header & General Logo ---------------- */
.logo {
    display: block;
}

.logo-icon {
    width: px;
    height: px;
    fill: var();
    transition: fill var(--transition);
}

.logo:hover .logo-icon,
.logo:focus .logo-icon {
    fill: var();
}


/* ---------------- Burger Menu icon ---------------- */
.burger-icon {
    width: 24px;
    height: 24px;
    fill: var();
    stroke: var();
    transition: fill var(--transition), stroke var(--transition);
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    fill: var();
    stroke: var();
}


/* ---------------- Button Close icon ---------------- */
.button-close-icon {
    fill: none;
    stroke: var();
    transition: stroke var(--transition);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    stroke: var();
}


/* ---------------- Button Scroll icon ---------------- */
.button-scroll-icon {
    fill: var();
    transition: fill var(--transition), transform var(--transition);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(-90deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var();
}

/* ---------------- Social icon ---------------- */
.social-icon {
    fill: var();
    transition: fill var(--transition);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var();
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}