.mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    transform: translateX(100%);

    width: 100%;
    height: 100%;

    background-color: var();

    transition: transform var(--transition);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    position: relative;

    overflow-y: auto;
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0px 0px;
}



@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

}